.App {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container{
  margin: 15px 0;
  padding: 20px;
  display: flex;
  width: 80%;
}
.orders{
  width: 40%;
  border: 2px solid green;
  border-right: 0;
  padding: 5px;
}
.foods{
  width: 60%;
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title{
  padding: 10px;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
.order{
  margin: 5px;
  padding: 5px 5px 0 0;
  display: flex;
  width: 45%;
  height: 80px;
  border: 1px solid mediumseagreen;
  border-radius: 25px;
}
.order:hover{
  cursor: pointer;
}
.line{
  border: 1px solid #000;
  margin: 10px;
}
.food-list{
  display: inline-block;
  width: 23%;
  text-align: right;
  padding: 2px;
}
.total {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.food-name{
  display: inline-block;
  width: 34%;
  text-align: right;
}
.food-count{
  display: inline-block;
  width: 15%;
  text-align: right;
}